body {
  min-width: 1200px;
  margin-left: 90px;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  background-color: #efefef;
  color: #000000;
}
header {
    position: absolute;
    background-color: #6451d5;
    height: 700px;
    min-width: 1200px;
}
header img {
    background-image: url(img//logo.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    width: 182px;
    height: 82px;
    background-color: #6451d5;
    display: block;
    border: 0px;
    margin-top: 20px;
    float: left;
}
.main-menu {
  width: 670px;
  height:50px;
  display: inline; 
  text-align: left;
}
.main-menu li:first-child { 
  padding-left: 170px; 
  display: inline-block;
    margin-top:45px;
}
.main-menu li { 
  position:left;
  padding-left:  50px; 
  display: inline;
}
a  {
    color: white;
    text-decoration: none;
}
.promo-title {
    height: 145px; 
    width: 510px;
    font-size: 50px;
    color: white;
    line-height: normal;
    margin-left: 0px;
}
.promo{
    display: block;
    padding-top: 110px;
}
.promo p {
display: block;
    padding-top: 50px;
    width:410px;
    color: #a599ea;
    margin-left: 0px;
    font-size: 24px;
}
.items {
/* */   background-image: url(img//ff.png) ;
    background-repeat: no-repeat;
    background-position: right;
    position: right;
    margin-left: 250px;
    margin-top: -420px;
    display:inline-block;
    width: 850px;
    height: 450px;
}
.btn-green {
    display: block;
    color: black;
    text-decoration: none;
    background-color: #382d78;
    border: none; 
    width:320px;
    color: white;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 55px;
}